@page
@model Bookshop.WebApp.Pages.Account.LoginModel
@{
}

<h1>Login</h1>

@if (Model.HasError)
{
    <p>@Model.ErrorMessage</p>
}

<form method="post">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="@Model.LoginInput.Email"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="@Model.LoginInput.Email" class="form-control" />
                    </div>
                    <span asp-validation-for="@Model.LoginInput.Email" class="text-danger"></span>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <label asp-for="@Model.LoginInput.Password"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="@Model.LoginInput.Password" class="form-control" />
                    </div>
                    <span asp-validation-for="@Model.LoginInput.Password" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary mt-4" type="submit">Login</button>
</form>