@page "{id}"
@using Bookshop.BusinessLogic.Extensions
@model Bookshop.WebApp.Pages.Book.ReviewModel
@{
}

@section Styles
    {
    <link href="@Url.Content("~/css/book.css")" rel="stylesheet" type="text/css" />
}

<div class="row justify-content-center">
    <div style="text-align: center">
        <h3 style="text-align: center">Review book</h3>
        <form method="get" class="mt-3">

            <label class="col-sm-2 col-form-label col-form-label-lg">ISBN</label>
            <p>@Model.Book.ISBN</p>

            <label class="col-sm-2 col-form-label col-form-label-lg">Title</label>
            <p>@Model.Book.Title</p>


            <label class="col-sm-2 col-form-label col-form-label-lg">Author</label>
            <p>@Model.Book.Author</p>

            <label class="col-sm-2 col-form-label col-form-label-lg">Year</label>
            <p>@Model.Book.Year.ToString()</p>

            <label class="col-sm-2 col-form-label col-form-label-lg">Pages</label>
            <p>@Model.Book.Pages</p>

            <label class="col-sm-2 col-form-label col-form-label-lg">Description</label>
            <p>@Model.Book.Description</p>

            <label class="col-sm-2 col-form-label col-form-label-lg">Price</label>
            <p>@Model.Book.Price</p>

            <label class="col-sm-2 col-form-label col-form-label-lg">Price with discount</label>
            <p>@Model.Book.PriceWithDiscount</p>

            <label class="col-sm-2 col-form-label col-form-label-lg">Genre</label>
            <p>@Model.Book.Genre</p>

        </form>
        
        @if (Model.Comments.Count > 0)
        {
            <div style="text-align: center">
                <h5>Comments</h5>
            </div>

            <ul class="list-group">
                <li class="list-group-item d-none d-md-block">
                    <div class="row">
                        <div class="col-sm align-content-md-center">
                            Client
                        </div>

                        <div class="col-sm align-content-md-center">
                            Score
                        </div>

                        <div class="col-sm align-content-md-center">
                            Comment
                        </div>
                    </div>
                </li>
                @foreach (var comment in Model.Comments)
                {
                    <li class="list-group-item d-none d-md-block">
                        <div class="row">
                            <div class="col-sm align-content-md-center">

                                <span> @comment.UserId</span>
                            </div>

                            <div class="col-sm align-content-md-center">

                                <span>@comment.Score</span>
                            </div>

                            <div class="col-sm align-content-md-center">

                                <span>@comment.Comment</span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        

        <div style="text-align: center">
            <h5>Leave comment about book</h5>
        </div>

        <form method="post">
            <input type="hidden" asp-for="@Model.CommentInput.ClientName" value="@User.GetAuthenticatedUserId()" placeholder="ClientName" />
            <input type="hidden" asp-for="@Model.CommentInput.BookId" value="@Model.Book.Id" placeholder="BookId" />
        <label>Rate book </label>
        <div>
                <select placeholder="Score" asp-for="@Model.CommentInput.Score" class="form-control" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
        </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment</label>
                <textarea placeholder="Comment" asp-for="@Model.CommentInput.Comment" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" type="submit">Save comment</button>
            </div>
        </form>


        <div class="text-center">
            <div class="mt-4">
                @*Temporary*@
                <a class="btn btn-secondary" asp-area="" asp-page="/Book/List">Go back to list</a>
            </div>
        </div>
        

    </div>

</div>

    @section Scripts
        {
        <script>
            $('button[data-toggle="modal"]').click(function (event) {
                $('#removeModal').modal('show');
            });
        </script>
    }
