@page "{id}"
@model Bookshop.WebApp.Pages.Order.OrderViewModel
@{
}

@section Styles
    {
    <link href="@Url.Content("~/css/order.css")" rel="stylesheet" type="text/css" />
}

    <div class="row justify-content-center">
        <div style="text-align: center">
            <h3 style="text-align: center">Review order</h3>
            <form method="get" class="mt-3">

                <label class="col-sm-2 col-form-label col-form-label-lg">Sum</label>
                <p>@Model.Order.Sum</p>

                <label class="col-sm-2 col-form-label col-form-label-lg">Postal Code</label>
                <p>@Model.Order.PostalCode</p>

                <label class="col-sm-2 col-form-label col-form-label-lg">Address</label>
                <p>@Model.Order.Address</p>

                <label class="col-sm-2 col-form-label col-form-label-lg">Client Comment</label>
                <p>@Model.Order.ClientComment</p>

                <label class="col-sm-2 col-form-label col-form-label-lg">Order Method</label>
                <p>@Model.Order.OrderMethod</p>

                <label class="col-sm-2 col-form-label col-form-label-lg">Payment Method</label>
                <p>@Model.Order.PaymentMethod</p>

                <label class="col-sm-2 col-form-label col-form-label-lg">User</label>
                <p>@Model.Order.UserId.ToString()</p>

                <label class="col-sm-2 col-form-label col-form-label-lg">Book</label>
                <p>@Model.Order.Books</p>

                <div class="text-center">
                    <div class="mt-4">
                        @*Temporary*@
                        <a class="btn btn-secondary" asp-area="" asp-page="/Order/List">Go back to list</a>
                    </div>
                </div>
            </form>

        </div>



        @section Scripts
        {
        <script>
            $('button[data-toggle="modal"]').click(function (event) {
                $('#removeModal').modal('show');
            });
        </script>
    }
