@page
@model Bookshop.WebApp.Pages.Account.RegisterModel
@{
}

@section Styles
{
    <link href="@Url.Content("~/css/account.css")" rel="stylesheet" type="text/css" />
}


<div class="text-center">
    <form class="form-register" method="post">
        <span class="book-logo">📚</span>

        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        <div class="row">
             <div class="col">
                <span class="validation-message-left text-danger" asp-validation-for="@Model.RegisterInput.FirstName"></span>
            </div>
             <div class="col">
                <span class="validation-message-left text-danger" asp-validation-for="@Model.RegisterInput.LastName"></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" asp-for="@Model.RegisterInput.FirstName" class="form-control" placeholder="First name" required>
            </div>
            <div class="col">
                <input type="text" asp-for="@Model.RegisterInput.LastName" class="form-control" placeholder="Last name" required>
            </div>
        </div>

        <span class="validation-message-left text-danger" asp-validation-for="@Model.RegisterInput.Email"></span>
        <input type="email" asp-for="@Model.RegisterInput.Email" class="form-control" placeholder="Email address" required autofocus>

        <input type="password" asp-for="@Model.RegisterInput.Password" class="form-control" placeholder="Password" required>
        <span class="validation-message-left text-danger"  asp-validation-for="@Model.RegisterInput.Password"></span>

        <span class="validation-message-left text-danger" asp-validation-for="@Model.RegisterInput.PhoneNumber"></span>
        <input class="form-control" type="text" asp-for="@Model.RegisterInput.PhoneNumber" placeholder="Phone number" required>

        <span class="validation-message-left text-danger"  asp-validation-for="@Model.RegisterInput.Address"></span>
        <input class="form-control" type="text" asp-for="@Model.RegisterInput.Address" placeholder="Address" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create a new account</button>
    </form>
</div>