@page
@model Bookshop.WebApp.Pages.Client.ReportModel
@{
}

@section Styles
{
    <link href="@Url.Content("~/css/client.css")" rel="stylesheet" type="text/css" />
}

<h3>Order history</h3>

@if (!Model.Output.Orders.Any())
{
    <p>You have not made any orders yet.</p>
}
else
{
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2 my-auto">
                    #
                </div>

                <div class="col-md-2 my-auto">
                    Order date
                </div>

                <div class="col-md-3 my-auto">
                    Order completion date
                </div>

                <div class="col-md-2 my-auto">
                    Bought books
                </div>
            
                <div class="col-md-3 my-auto">
                    Total price
                </div>
            </div>
        </li>
    </ul>
}

@for (var i = 0; i < Model.Output.Orders.Count; i++)
{
    var order = Model.Output.Orders[i];
    <ul class="list-group">
        <li class="list-group-item order" id="order-@(i)">
            <div class="row">
                <div class="col-md-2 my-auto">
                    @(i + 1)
                </div>

                <div class="col-md-2 my-auto">
                    @order.Created
                </div>

                <div class="col-md-3 my-auto">
                    @order.Completed
                </div>

                <div class="col-md-2 my-auto">
                    @order.Books.Count()
                </div>
            
                <div class="col-md-3 my-auto">
                    @order.Books.Sum(book => book.Price)
                </div>
            </div>
        </li>
    </ul>

    <ul class="list-group hidden" id="report-books-header-@(i)">
        <li class="list-group-item active-report-item">
            <div class="row">
                <div class="col-md-2 my-auto">
                </div>

                <div class="col-md-2 my-auto">
                    Author
                </div>

                <div class="col-md-3 my-auto">
                    Book title
                </div>

                <div class="col-md-2 my-auto">
                    Pages
                </div>

                <div class="col-md-3 my-auto">
                    Price
                </div>
            </div>
        </li>
    </ul>

    <ul class="list-group hidden" id="report-books-@(i)">
        @for (var j = 0; j < @order.Books.Count; j++)
        {
            var book = @order.Books[j];
            <li class="list-group-item active-report-item">
                <div class="row">
                    <div class="col-md-2 my-auto">
                        @(j + 1)
                    </div>

                    <div class="col-md-2 my-auto">
                        @book.Author
                    </div>

                    <div class="col-md-3 my-auto">
                        @book.Title
                    </div>

                    <div class="col-md-2 my-auto">
                        @book.Pages
                    </div>

                    <div class="col-md-3 my-auto">
                        @book.Price €
                    </div>
                </div>
            </li>
        }
    </ul>
}

@section Scripts
{
    <script>
        function toggleOrder(id) {
            const header = $('#report-books-header-' + id);
            const container = $('#report-books-' + id);

            if (header.hasClass('hidden')) {
                header.removeClass('hidden');
                container.removeClass('hidden');
            } else {
                header.addClass('hidden');
                container.addClass('hidden');
            }
        }

        for (let i = 0; i < @Model.Output.Orders.Count; i++) {
            $('#order-' + i).click(() => toggleOrder(i));
        }
    </script>
}